@mixin positioning-for-screen($screen,$state,$state_name){
  /*Positioning*/

  .#{$state_name}#{$screen}#{$state}sticky{
    position: sticky!important;
    position: -webkit-sticky;
  }

  .#{$state_name}#{$screen}#{$state}fixed{
    position: fixed!important;
  }

  .#{$state_name}#{$screen}#{$state}absolute{
    position: absolute!important;
  }

  .#{$state_name}#{$screen}#{$state}relative{
    position: relative!important;
  }

  /*POSITIONING*/


  @each $element, $size in $sizes {
    @each $side in $sides{
      $alias: map_get($side_aliases,$side);
      .#{$state_name}#{$screen}#{$alias}-#{$element}#{$state} {
        @if $side == "all" {
          //margin: $size!important;
        } @else {
          #{$side}: $size!important;
        }
      }
    }
  }
}

@include positioning-for-screen('','','');

@media only screen and (max-width: 599px) {
  @include positioning-for-screen('sm-','','');
}
//md-css-property
@media only screen and (min-width: 600px) and (max-width: 899px){
  @include positioning-for-screen('md-','','');
}

//lg-css-property
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  /*tablet-landscape-only*/
  @include positioning-for-screen('lg-','','');
}
//xlg-css-property
@media only screen and (min-width: 1200px) and (max-width: 1400px){
  /*.desktop-only */
  @include positioning-for-screen('xlg-','','');
}
//xxlg-css-property
@media only screen and (min-width: 1401px) {
  /*.desktop-up */
  @include positioning-for-screen('xxlg-','','');
}

@include positioning-for-screen('',':hover','hover\\:');
