/*imports*/
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Roboto+Slab|Material+Icons|Poppins:400,600,700");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/brands.css");
/*Variables*/
/*Sizing*/
/*Global Styling*/
* {
  box-sizing: border-box;
  transition: 0.3s all;
}

a {
  text-decoration: none;
  color: #3F51B5;
}

body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif !important;
}

input, textarea, button {
  font-family: "Poppins", sans-serif !important;
}

button {
  outline: 0 !important;
}

.container {
  padding-left: 35px;
  padding-right: 35px;
  max-width: 1250px;
  margin: auto;
}

.txt-s-xxxsm {
  font-size: 1rem !important;
}

.txt-s-xxsm {
  font-size: 1.5rem !important;
}

.txt-s-xsm {
  font-size: 2rem !important;
}

.txt-s-sm {
  font-size: 2.5rem !important;
}

.txt-s-md {
  font-size: 3rem !important;
}

.txt-s-lg {
  font-size: 3.5rem !important;
}

.txt-s-xlg {
  font-size: 4rem !important;
}

.txt-s-xxlg {
  font-size: 4.5rem !important;
}

.txt-s-xxxlg {
  font-size: 5rem !important;
}

.txt-s-none {
  font-size: 0 !important;
}

.txt-s-auto {
  font-size: auto !important;
}

.txt-center {
  text-align: center;
}

/*::margin:: margin-*-*/
/*All*/
.m-t-xxxsm {
  margin-top: 1rem;
}

.m-b-xxxsm {
  margin-bottom: 1rem;
}

.m-r-xxxsm {
  margin-right: 1rem;
}

.m-l-xxxsm {
  margin-left: 1rem;
}

.m-a-xxxsm {
  margin: 1rem;
}

.m-t-xxsm {
  margin-top: 1.5rem;
}

.m-b-xxsm {
  margin-bottom: 1.5rem;
}

.m-r-xxsm {
  margin-right: 1.5rem;
}

.m-l-xxsm {
  margin-left: 1.5rem;
}

.m-a-xxsm {
  margin: 1.5rem;
}

.m-t-xsm {
  margin-top: 2rem;
}

.m-b-xsm {
  margin-bottom: 2rem;
}

.m-r-xsm {
  margin-right: 2rem;
}

.m-l-xsm {
  margin-left: 2rem;
}

.m-a-xsm {
  margin: 2rem;
}

.m-t-sm {
  margin-top: 2.5rem;
}

.m-b-sm {
  margin-bottom: 2.5rem;
}

.m-r-sm {
  margin-right: 2.5rem;
}

.m-l-sm {
  margin-left: 2.5rem;
}

.m-a-sm {
  margin: 2.5rem;
}

.m-t-md {
  margin-top: 3rem;
}

.m-b-md {
  margin-bottom: 3rem;
}

.m-r-md {
  margin-right: 3rem;
}

.m-l-md {
  margin-left: 3rem;
}

.m-a-md {
  margin: 3rem;
}

.m-t-lg {
  margin-top: 3.5rem;
}

.m-b-lg {
  margin-bottom: 3.5rem;
}

.m-r-lg {
  margin-right: 3.5rem;
}

.m-l-lg {
  margin-left: 3.5rem;
}

.m-a-lg {
  margin: 3.5rem;
}

.m-t-xlg {
  margin-top: 4rem;
}

.m-b-xlg {
  margin-bottom: 4rem;
}

.m-r-xlg {
  margin-right: 4rem;
}

.m-l-xlg {
  margin-left: 4rem;
}

.m-a-xlg {
  margin: 4rem;
}

.m-t-xxlg {
  margin-top: 4.5rem;
}

.m-b-xxlg {
  margin-bottom: 4.5rem;
}

.m-r-xxlg {
  margin-right: 4.5rem;
}

.m-l-xxlg {
  margin-left: 4.5rem;
}

.m-a-xxlg {
  margin: 4.5rem;
}

.m-t-xxxlg {
  margin-top: 5rem;
}

.m-b-xxxlg {
  margin-bottom: 5rem;
}

.m-r-xxxlg {
  margin-right: 5rem;
}

.m-l-xxxlg {
  margin-left: 5rem;
}

.m-a-xxxlg {
  margin: 5rem;
}

.m-t-none {
  margin-top: 0;
}

.m-b-none {
  margin-bottom: 0;
}

.m-r-none {
  margin-right: 0;
}

.m-l-none {
  margin-left: 0;
}

.m-a-none {
  margin: 0;
}

.m-t-auto {
  margin-top: auto;
}

.m-b-auto {
  margin-bottom: auto;
}

.m-r-auto {
  margin-right: auto;
}

.m-l-auto {
  margin-left: auto;
}

.m-a-auto {
  margin: auto;
}

/*::Padding:: p-*-*/
/*Padding All*/
.p-t-xxxsm {
  padding-top: 1rem;
}

.p-b-xxxsm {
  padding-bottom: 1rem;
}

.p-r-xxxsm {
  padding-right: 1rem;
}

.p-l-xxxsm {
  padding-left: 1rem;
}

.p-a-xxxsm {
  padding: 1rem;
}

.p-t-xxsm {
  padding-top: 1.5rem;
}

.p-b-xxsm {
  padding-bottom: 1.5rem;
}

.p-r-xxsm {
  padding-right: 1.5rem;
}

.p-l-xxsm {
  padding-left: 1.5rem;
}

.p-a-xxsm {
  padding: 1.5rem;
}

.p-t-xsm {
  padding-top: 2rem;
}

.p-b-xsm {
  padding-bottom: 2rem;
}

.p-r-xsm {
  padding-right: 2rem;
}

.p-l-xsm {
  padding-left: 2rem;
}

.p-a-xsm {
  padding: 2rem;
}

.p-t-sm {
  padding-top: 2.5rem;
}

.p-b-sm {
  padding-bottom: 2.5rem;
}

.p-r-sm {
  padding-right: 2.5rem;
}

.p-l-sm {
  padding-left: 2.5rem;
}

.p-a-sm {
  padding: 2.5rem;
}

.p-t-md {
  padding-top: 3rem;
}

.p-b-md {
  padding-bottom: 3rem;
}

.p-r-md {
  padding-right: 3rem;
}

.p-l-md {
  padding-left: 3rem;
}

.p-a-md {
  padding: 3rem;
}

.p-t-lg {
  padding-top: 3.5rem;
}

.p-b-lg {
  padding-bottom: 3.5rem;
}

.p-r-lg {
  padding-right: 3.5rem;
}

.p-l-lg {
  padding-left: 3.5rem;
}

.p-a-lg {
  padding: 3.5rem;
}

.p-t-xlg {
  padding-top: 4rem;
}

.p-b-xlg {
  padding-bottom: 4rem;
}

.p-r-xlg {
  padding-right: 4rem;
}

.p-l-xlg {
  padding-left: 4rem;
}

.p-a-xlg {
  padding: 4rem;
}

.p-t-xxlg {
  padding-top: 4.5rem;
}

.p-b-xxlg {
  padding-bottom: 4.5rem;
}

.p-r-xxlg {
  padding-right: 4.5rem;
}

.p-l-xxlg {
  padding-left: 4.5rem;
}

.p-a-xxlg {
  padding: 4.5rem;
}

.p-t-xxxlg {
  padding-top: 5rem;
}

.p-b-xxxlg {
  padding-bottom: 5rem;
}

.p-r-xxxlg {
  padding-right: 5rem;
}

.p-l-xxxlg {
  padding-left: 5rem;
}

.p-a-xxxlg {
  padding: 5rem;
}

.p-t-none {
  padding-top: 0;
}

.p-b-none {
  padding-bottom: 0;
}

.p-r-none {
  padding-right: 0;
}

.p-l-none {
  padding-left: 0;
}

.p-a-none {
  padding: 0;
}

.p-t-auto {
  padding-top: auto;
}

.p-b-auto {
  padding-bottom: auto;
}

.p-r-auto {
  padding-right: auto;
}

.p-l-auto {
  padding-left: auto;
}

.p-a-auto {
  padding: auto;
}

/*::width*/
.full-width {
  width: 100%;
}

/*Align*/
.center {
  display: flex;
  justify-content: center;
}

/*::Color */
/*::text color:: txt-c-* */
.txt-c-pry {
  color: #FF4900;
}

.txt-c-pry-shade-1 {
  color: #FD743D;
}

.txt-c-pry-shade-2 {
  color: #FE8E60;
}

.txt-c-pry-shade-3 {
  color: #FDB294;
}

.txt-c-link-color {
  color: #3F51B5;
}

.txt-c-black {
  color: #1C1C1C;
}

.txt-c-black-shade-1 {
  color: #3A3A3A;
}

.txt-c-black-shade-2 {
  color: #626262;
}

.txt-c-black-shade-3 {
  color: #939393;
}

.txt-c-grey {
  color: #A4A4A4;
}

.txt-c-grey-shade-1 {
  color: #C0C0C0;
}

.txt-c-grey-shade-2 {
  color: #D3D3D3;
}

.txt-c-grey-shade-3 {
  color: #F1F1F1;
}

.txt-c-white {
  color: #fff;
}

.txt-c-none {
  color: transparent;
}

/*::background:: bg-c-* */
.bg-c-pry {
  background-color: #FF4900;
}

.bg-c-pry-shade-1 {
  background-color: #FD743D;
}

.bg-c-pry-shade-2 {
  background-color: #FE8E60;
}

.bg-c-pry-shade-3 {
  background-color: #FDB294;
}

.bg-c-link-color {
  background-color: #3F51B5;
}

.bg-c-black {
  background-color: #1C1C1C;
}

.bg-c-black-shade-1 {
  background-color: #3A3A3A;
}

.bg-c-black-shade-2 {
  background-color: #626262;
}

.bg-c-black-shade-3 {
  background-color: #939393;
}

.bg-c-grey {
  background-color: #A4A4A4;
}

.bg-c-grey-shade-1 {
  background-color: #C0C0C0;
}

.bg-c-grey-shade-2 {
  background-color: #D3D3D3;
}

.bg-c-grey-shade-3 {
  background-color: #F1F1F1;
}

.bg-c-white {
  background-color: #fff;
}

.bg-c-none {
  background-color: transparent;
}

/*::border size:: border-s-* */
.bd-w-t-xxxsm {
  border-top-width: 1rem;
}

.bd-w-b-xxxsm {
  border-bottom-width: 1rem;
}

.bd-w-r-xxxsm {
  border-right-width: 1rem;
}

.bd-w-l-xxxsm {
  border-left-width: 1rem;
}

.bd-w-a-xxxsm {
  border-width: 1rem;
}

.bd-w-t-xxsm {
  border-top-width: 1.5rem;
}

.bd-w-b-xxsm {
  border-bottom-width: 1.5rem;
}

.bd-w-r-xxsm {
  border-right-width: 1.5rem;
}

.bd-w-l-xxsm {
  border-left-width: 1.5rem;
}

.bd-w-a-xxsm {
  border-width: 1.5rem;
}

.bd-w-t-xsm {
  border-top-width: 2rem;
}

.bd-w-b-xsm {
  border-bottom-width: 2rem;
}

.bd-w-r-xsm {
  border-right-width: 2rem;
}

.bd-w-l-xsm {
  border-left-width: 2rem;
}

.bd-w-a-xsm {
  border-width: 2rem;
}

.bd-w-t-sm {
  border-top-width: 2.5rem;
}

.bd-w-b-sm {
  border-bottom-width: 2.5rem;
}

.bd-w-r-sm {
  border-right-width: 2.5rem;
}

.bd-w-l-sm {
  border-left-width: 2.5rem;
}

.bd-w-a-sm {
  border-width: 2.5rem;
}

.bd-w-t-md {
  border-top-width: 3rem;
}

.bd-w-b-md {
  border-bottom-width: 3rem;
}

.bd-w-r-md {
  border-right-width: 3rem;
}

.bd-w-l-md {
  border-left-width: 3rem;
}

.bd-w-a-md {
  border-width: 3rem;
}

.bd-w-t-lg {
  border-top-width: 3.5rem;
}

.bd-w-b-lg {
  border-bottom-width: 3.5rem;
}

.bd-w-r-lg {
  border-right-width: 3.5rem;
}

.bd-w-l-lg {
  border-left-width: 3.5rem;
}

.bd-w-a-lg {
  border-width: 3.5rem;
}

.bd-w-t-xlg {
  border-top-width: 4rem;
}

.bd-w-b-xlg {
  border-bottom-width: 4rem;
}

.bd-w-r-xlg {
  border-right-width: 4rem;
}

.bd-w-l-xlg {
  border-left-width: 4rem;
}

.bd-w-a-xlg {
  border-width: 4rem;
}

.bd-w-t-xxlg {
  border-top-width: 4.5rem;
}

.bd-w-b-xxlg {
  border-bottom-width: 4.5rem;
}

.bd-w-r-xxlg {
  border-right-width: 4.5rem;
}

.bd-w-l-xxlg {
  border-left-width: 4.5rem;
}

.bd-w-a-xxlg {
  border-width: 4.5rem;
}

.bd-w-t-xxxlg {
  border-top-width: 5rem;
}

.bd-w-b-xxxlg {
  border-bottom-width: 5rem;
}

.bd-w-r-xxxlg {
  border-right-width: 5rem;
}

.bd-w-l-xxxlg {
  border-left-width: 5rem;
}

.bd-w-a-xxxlg {
  border-width: 5rem;
}

.bd-w-t-none {
  border-top-width: 0;
}

.bd-w-b-none {
  border-bottom-width: 0;
}

.bd-w-r-none {
  border-right-width: 0;
}

.bd-w-l-none {
  border-left-width: 0;
}

.bd-w-a-none {
  border-width: 0;
}

.bd-w-t-auto {
  border-top-width: auto;
}

.bd-w-b-auto {
  border-bottom-width: auto;
}

.bd-w-r-auto {
  border-right-width: auto;
}

.bd-w-l-auto {
  border-left-width: auto;
}

.bd-w-a-auto {
  border-width: auto;
}

.bd-c-t-pry {
  border-top-color: #FF4900;
}

.bd-c-b-pry {
  border-bottom-color: #FF4900;
}

.bd-c-r-pry {
  border-right-color: #FF4900;
}

.bd-c-l-pry {
  border-left-color: #FF4900;
}

.bd-c-a-pry {
  border-color: #FF4900;
}

.bd-c-t-pry-shade-1 {
  border-top-color: #FD743D;
}

.bd-c-b-pry-shade-1 {
  border-bottom-color: #FD743D;
}

.bd-c-r-pry-shade-1 {
  border-right-color: #FD743D;
}

.bd-c-l-pry-shade-1 {
  border-left-color: #FD743D;
}

.bd-c-a-pry-shade-1 {
  border-color: #FD743D;
}

.bd-c-t-pry-shade-2 {
  border-top-color: #FE8E60;
}

.bd-c-b-pry-shade-2 {
  border-bottom-color: #FE8E60;
}

.bd-c-r-pry-shade-2 {
  border-right-color: #FE8E60;
}

.bd-c-l-pry-shade-2 {
  border-left-color: #FE8E60;
}

.bd-c-a-pry-shade-2 {
  border-color: #FE8E60;
}

.bd-c-t-pry-shade-3 {
  border-top-color: #FDB294;
}

.bd-c-b-pry-shade-3 {
  border-bottom-color: #FDB294;
}

.bd-c-r-pry-shade-3 {
  border-right-color: #FDB294;
}

.bd-c-l-pry-shade-3 {
  border-left-color: #FDB294;
}

.bd-c-a-pry-shade-3 {
  border-color: #FDB294;
}

.bd-c-t-link-color {
  border-top-color: #3F51B5;
}

.bd-c-b-link-color {
  border-bottom-color: #3F51B5;
}

.bd-c-r-link-color {
  border-right-color: #3F51B5;
}

.bd-c-l-link-color {
  border-left-color: #3F51B5;
}

.bd-c-a-link-color {
  border-color: #3F51B5;
}

.bd-c-t-black {
  border-top-color: #1C1C1C;
}

.bd-c-b-black {
  border-bottom-color: #1C1C1C;
}

.bd-c-r-black {
  border-right-color: #1C1C1C;
}

.bd-c-l-black {
  border-left-color: #1C1C1C;
}

.bd-c-a-black {
  border-color: #1C1C1C;
}

.bd-c-t-black-shade-1 {
  border-top-color: #3A3A3A;
}

.bd-c-b-black-shade-1 {
  border-bottom-color: #3A3A3A;
}

.bd-c-r-black-shade-1 {
  border-right-color: #3A3A3A;
}

.bd-c-l-black-shade-1 {
  border-left-color: #3A3A3A;
}

.bd-c-a-black-shade-1 {
  border-color: #3A3A3A;
}

.bd-c-t-black-shade-2 {
  border-top-color: #626262;
}

.bd-c-b-black-shade-2 {
  border-bottom-color: #626262;
}

.bd-c-r-black-shade-2 {
  border-right-color: #626262;
}

.bd-c-l-black-shade-2 {
  border-left-color: #626262;
}

.bd-c-a-black-shade-2 {
  border-color: #626262;
}

.bd-c-t-black-shade-3 {
  border-top-color: #939393;
}

.bd-c-b-black-shade-3 {
  border-bottom-color: #939393;
}

.bd-c-r-black-shade-3 {
  border-right-color: #939393;
}

.bd-c-l-black-shade-3 {
  border-left-color: #939393;
}

.bd-c-a-black-shade-3 {
  border-color: #939393;
}

.bd-c-t-grey {
  border-top-color: #A4A4A4;
}

.bd-c-b-grey {
  border-bottom-color: #A4A4A4;
}

.bd-c-r-grey {
  border-right-color: #A4A4A4;
}

.bd-c-l-grey {
  border-left-color: #A4A4A4;
}

.bd-c-a-grey {
  border-color: #A4A4A4;
}

.bd-c-t-grey-shade-1 {
  border-top-color: #C0C0C0;
}

.bd-c-b-grey-shade-1 {
  border-bottom-color: #C0C0C0;
}

.bd-c-r-grey-shade-1 {
  border-right-color: #C0C0C0;
}

.bd-c-l-grey-shade-1 {
  border-left-color: #C0C0C0;
}

.bd-c-a-grey-shade-1 {
  border-color: #C0C0C0;
}

.bd-c-t-grey-shade-2 {
  border-top-color: #D3D3D3;
}

.bd-c-b-grey-shade-2 {
  border-bottom-color: #D3D3D3;
}

.bd-c-r-grey-shade-2 {
  border-right-color: #D3D3D3;
}

.bd-c-l-grey-shade-2 {
  border-left-color: #D3D3D3;
}

.bd-c-a-grey-shade-2 {
  border-color: #D3D3D3;
}

.bd-c-t-grey-shade-3 {
  border-top-color: #F1F1F1;
}

.bd-c-b-grey-shade-3 {
  border-bottom-color: #F1F1F1;
}

.bd-c-r-grey-shade-3 {
  border-right-color: #F1F1F1;
}

.bd-c-l-grey-shade-3 {
  border-left-color: #F1F1F1;
}

.bd-c-a-grey-shade-3 {
  border-color: #F1F1F1;
}

.bd-c-t-white {
  border-top-color: #fff;
}

.bd-c-b-white {
  border-bottom-color: #fff;
}

.bd-c-r-white {
  border-right-color: #fff;
}

.bd-c-l-white {
  border-left-color: #fff;
}

.bd-c-a-white {
  border-color: #fff;
}

.bd-c-t-none {
  border-top-color: transparent;
}

.bd-c-b-none {
  border-bottom-color: transparent;
}

.bd-c-r-none {
  border-right-color: transparent;
}

.bd-c-l-none {
  border-left-color: transparent;
}

.bd-c-a-none {
  border-color: transparent;
}

/*Border-radius*/
.bd-round-b-t-xxxsm {
  border-bottom-top-radius: 1rem;
}

.bd-round-r-t-xxxsm {
  border-right-top-radius: 1rem;
}

.bd-round-l-t-xxxsm {
  border-left-top-radius: 1rem;
}

.bd-round-t-b-xxxsm {
  border-top-bottom-radius: 1rem;
}

.bd-round-r-b-xxxsm {
  border-right-bottom-radius: 1rem;
}

.bd-round-l-b-xxxsm {
  border-left-bottom-radius: 1rem;
}

.bd-round-t-r-xxxsm {
  border-top-right-radius: 1rem;
}

.bd-round-b-r-xxxsm {
  border-bottom-right-radius: 1rem;
}

.bd-round-l-r-xxxsm {
  border-left-right-radius: 1rem;
}

.bd-round-t-l-xxxsm {
  border-top-left-radius: 1rem;
}

.bd-round-b-l-xxxsm {
  border-bottom-left-radius: 1rem;
}

.bd-round-r-l-xxxsm {
  border-right-left-radius: 1rem;
}

.bd-round-a-xxxsm {
  border-radius: 1rem;
}

.bd-round-b-t-xxsm {
  border-bottom-top-radius: 1.5rem;
}

.bd-round-r-t-xxsm {
  border-right-top-radius: 1.5rem;
}

.bd-round-l-t-xxsm {
  border-left-top-radius: 1.5rem;
}

.bd-round-t-b-xxsm {
  border-top-bottom-radius: 1.5rem;
}

.bd-round-r-b-xxsm {
  border-right-bottom-radius: 1.5rem;
}

.bd-round-l-b-xxsm {
  border-left-bottom-radius: 1.5rem;
}

.bd-round-t-r-xxsm {
  border-top-right-radius: 1.5rem;
}

.bd-round-b-r-xxsm {
  border-bottom-right-radius: 1.5rem;
}

.bd-round-l-r-xxsm {
  border-left-right-radius: 1.5rem;
}

.bd-round-t-l-xxsm {
  border-top-left-radius: 1.5rem;
}

.bd-round-b-l-xxsm {
  border-bottom-left-radius: 1.5rem;
}

.bd-round-r-l-xxsm {
  border-right-left-radius: 1.5rem;
}

.bd-round-a-xxsm {
  border-radius: 1.5rem;
}

.bd-round-b-t-xsm {
  border-bottom-top-radius: 2rem;
}

.bd-round-r-t-xsm {
  border-right-top-radius: 2rem;
}

.bd-round-l-t-xsm {
  border-left-top-radius: 2rem;
}

.bd-round-t-b-xsm {
  border-top-bottom-radius: 2rem;
}

.bd-round-r-b-xsm {
  border-right-bottom-radius: 2rem;
}

.bd-round-l-b-xsm {
  border-left-bottom-radius: 2rem;
}

.bd-round-t-r-xsm {
  border-top-right-radius: 2rem;
}

.bd-round-b-r-xsm {
  border-bottom-right-radius: 2rem;
}

.bd-round-l-r-xsm {
  border-left-right-radius: 2rem;
}

.bd-round-t-l-xsm {
  border-top-left-radius: 2rem;
}

.bd-round-b-l-xsm {
  border-bottom-left-radius: 2rem;
}

.bd-round-r-l-xsm {
  border-right-left-radius: 2rem;
}

.bd-round-a-xsm {
  border-radius: 2rem;
}

.bd-round-b-t-sm {
  border-bottom-top-radius: 2.5rem;
}

.bd-round-r-t-sm {
  border-right-top-radius: 2.5rem;
}

.bd-round-l-t-sm {
  border-left-top-radius: 2.5rem;
}

.bd-round-t-b-sm {
  border-top-bottom-radius: 2.5rem;
}

.bd-round-r-b-sm {
  border-right-bottom-radius: 2.5rem;
}

.bd-round-l-b-sm {
  border-left-bottom-radius: 2.5rem;
}

.bd-round-t-r-sm {
  border-top-right-radius: 2.5rem;
}

.bd-round-b-r-sm {
  border-bottom-right-radius: 2.5rem;
}

.bd-round-l-r-sm {
  border-left-right-radius: 2.5rem;
}

.bd-round-t-l-sm {
  border-top-left-radius: 2.5rem;
}

.bd-round-b-l-sm {
  border-bottom-left-radius: 2.5rem;
}

.bd-round-r-l-sm {
  border-right-left-radius: 2.5rem;
}

.bd-round-a-sm {
  border-radius: 2.5rem;
}

.bd-round-b-t-md {
  border-bottom-top-radius: 3rem;
}

.bd-round-r-t-md {
  border-right-top-radius: 3rem;
}

.bd-round-l-t-md {
  border-left-top-radius: 3rem;
}

.bd-round-t-b-md {
  border-top-bottom-radius: 3rem;
}

.bd-round-r-b-md {
  border-right-bottom-radius: 3rem;
}

.bd-round-l-b-md {
  border-left-bottom-radius: 3rem;
}

.bd-round-t-r-md {
  border-top-right-radius: 3rem;
}

.bd-round-b-r-md {
  border-bottom-right-radius: 3rem;
}

.bd-round-l-r-md {
  border-left-right-radius: 3rem;
}

.bd-round-t-l-md {
  border-top-left-radius: 3rem;
}

.bd-round-b-l-md {
  border-bottom-left-radius: 3rem;
}

.bd-round-r-l-md {
  border-right-left-radius: 3rem;
}

.bd-round-a-md {
  border-radius: 3rem;
}

.bd-round-b-t-lg {
  border-bottom-top-radius: 3.5rem;
}

.bd-round-r-t-lg {
  border-right-top-radius: 3.5rem;
}

.bd-round-l-t-lg {
  border-left-top-radius: 3.5rem;
}

.bd-round-t-b-lg {
  border-top-bottom-radius: 3.5rem;
}

.bd-round-r-b-lg {
  border-right-bottom-radius: 3.5rem;
}

.bd-round-l-b-lg {
  border-left-bottom-radius: 3.5rem;
}

.bd-round-t-r-lg {
  border-top-right-radius: 3.5rem;
}

.bd-round-b-r-lg {
  border-bottom-right-radius: 3.5rem;
}

.bd-round-l-r-lg {
  border-left-right-radius: 3.5rem;
}

.bd-round-t-l-lg {
  border-top-left-radius: 3.5rem;
}

.bd-round-b-l-lg {
  border-bottom-left-radius: 3.5rem;
}

.bd-round-r-l-lg {
  border-right-left-radius: 3.5rem;
}

.bd-round-a-lg {
  border-radius: 3.5rem;
}

.bd-round-b-t-xlg {
  border-bottom-top-radius: 4rem;
}

.bd-round-r-t-xlg {
  border-right-top-radius: 4rem;
}

.bd-round-l-t-xlg {
  border-left-top-radius: 4rem;
}

.bd-round-t-b-xlg {
  border-top-bottom-radius: 4rem;
}

.bd-round-r-b-xlg {
  border-right-bottom-radius: 4rem;
}

.bd-round-l-b-xlg {
  border-left-bottom-radius: 4rem;
}

.bd-round-t-r-xlg {
  border-top-right-radius: 4rem;
}

.bd-round-b-r-xlg {
  border-bottom-right-radius: 4rem;
}

.bd-round-l-r-xlg {
  border-left-right-radius: 4rem;
}

.bd-round-t-l-xlg {
  border-top-left-radius: 4rem;
}

.bd-round-b-l-xlg {
  border-bottom-left-radius: 4rem;
}

.bd-round-r-l-xlg {
  border-right-left-radius: 4rem;
}

.bd-round-a-xlg {
  border-radius: 4rem;
}

.bd-round-b-t-xxlg {
  border-bottom-top-radius: 4.5rem;
}

.bd-round-r-t-xxlg {
  border-right-top-radius: 4.5rem;
}

.bd-round-l-t-xxlg {
  border-left-top-radius: 4.5rem;
}

.bd-round-t-b-xxlg {
  border-top-bottom-radius: 4.5rem;
}

.bd-round-r-b-xxlg {
  border-right-bottom-radius: 4.5rem;
}

.bd-round-l-b-xxlg {
  border-left-bottom-radius: 4.5rem;
}

.bd-round-t-r-xxlg {
  border-top-right-radius: 4.5rem;
}

.bd-round-b-r-xxlg {
  border-bottom-right-radius: 4.5rem;
}

.bd-round-l-r-xxlg {
  border-left-right-radius: 4.5rem;
}

.bd-round-t-l-xxlg {
  border-top-left-radius: 4.5rem;
}

.bd-round-b-l-xxlg {
  border-bottom-left-radius: 4.5rem;
}

.bd-round-r-l-xxlg {
  border-right-left-radius: 4.5rem;
}

.bd-round-a-xxlg {
  border-radius: 4.5rem;
}

.bd-round-b-t-xxxlg {
  border-bottom-top-radius: 5rem;
}

.bd-round-r-t-xxxlg {
  border-right-top-radius: 5rem;
}

.bd-round-l-t-xxxlg {
  border-left-top-radius: 5rem;
}

.bd-round-t-b-xxxlg {
  border-top-bottom-radius: 5rem;
}

.bd-round-r-b-xxxlg {
  border-right-bottom-radius: 5rem;
}

.bd-round-l-b-xxxlg {
  border-left-bottom-radius: 5rem;
}

.bd-round-t-r-xxxlg {
  border-top-right-radius: 5rem;
}

.bd-round-b-r-xxxlg {
  border-bottom-right-radius: 5rem;
}

.bd-round-l-r-xxxlg {
  border-left-right-radius: 5rem;
}

.bd-round-t-l-xxxlg {
  border-top-left-radius: 5rem;
}

.bd-round-b-l-xxxlg {
  border-bottom-left-radius: 5rem;
}

.bd-round-r-l-xxxlg {
  border-right-left-radius: 5rem;
}

.bd-round-a-xxxlg {
  border-radius: 5rem;
}

.bd-round-b-t-none {
  border-bottom-top-radius: 0;
}

.bd-round-r-t-none {
  border-right-top-radius: 0;
}

.bd-round-l-t-none {
  border-left-top-radius: 0;
}

.bd-round-t-b-none {
  border-top-bottom-radius: 0;
}

.bd-round-r-b-none {
  border-right-bottom-radius: 0;
}

.bd-round-l-b-none {
  border-left-bottom-radius: 0;
}

.bd-round-t-r-none {
  border-top-right-radius: 0;
}

.bd-round-b-r-none {
  border-bottom-right-radius: 0;
}

.bd-round-l-r-none {
  border-left-right-radius: 0;
}

.bd-round-t-l-none {
  border-top-left-radius: 0;
}

.bd-round-b-l-none {
  border-bottom-left-radius: 0;
}

.bd-round-r-l-none {
  border-right-left-radius: 0;
}

.bd-round-a-none {
  border-radius: 0;
}

.bd-round-b-t-auto {
  border-bottom-top-radius: auto;
}

.bd-round-r-t-auto {
  border-right-top-radius: auto;
}

.bd-round-l-t-auto {
  border-left-top-radius: auto;
}

.bd-round-t-b-auto {
  border-top-bottom-radius: auto;
}

.bd-round-r-b-auto {
  border-right-bottom-radius: auto;
}

.bd-round-l-b-auto {
  border-left-bottom-radius: auto;
}

.bd-round-t-r-auto {
  border-top-right-radius: auto;
}

.bd-round-b-r-auto {
  border-bottom-right-radius: auto;
}

.bd-round-l-r-auto {
  border-left-right-radius: auto;
}

.bd-round-t-l-auto {
  border-top-left-radius: auto;
}

.bd-round-b-l-auto {
  border-bottom-left-radius: auto;
}

.bd-round-r-l-auto {
  border-right-left-radius: auto;
}

.bd-round-a-auto {
  border-radius: auto;
}

/*::Layout */
/*::grid */
.grid {
  display: grid;
}

.grid-1x1 {
  grid-template-columns: 1fr 1fr;
}

.grid-1x1x1 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-1x1x1x1 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-1x1x1x1x1 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-1x1x1x1x2 {
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}

.grid-2x1 {
  grid-template-columns: 2fr 1fr;
}

.grid-3x1 {
  grid-template-columns: 3fr 1fr;
}

.grid-1x1x2 {
  grid-template-columns: 1fr 2fr;
}

.grid-2x1x1 {
  grid-template-columns: 1fr 2fr;
}

.grid-1x3 {
  grid-template-columns: 1fr 3fr;
}

.grid-auto {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/*Grid gaps*/
.grid-gap-xxxsm {
  grid-gap: 1rem;
}

.grid-gap-xxsm {
  grid-gap: 1.5rem;
}

.grid-gap-xsm {
  grid-gap: 2rem;
}

.grid-gap-sm {
  grid-gap: 2.5rem;
}

.grid-gap-md {
  grid-gap: 3rem;
}

.grid-gap-lg {
  grid-gap: 3.5rem;
}

.grid-gap-xlg {
  grid-gap: 4rem;
}

.grid-gap-xxlg {
  grid-gap: 4.5rem;
}

.grid-gap-xxxlg {
  grid-gap: 5rem;
}

.grid-gap-none {
  grid-gap: 0;
}

.grid-gap-auto {
  grid-gap: auto;
}

.grid-col-gap-xxxsm {
  grid-column-gap: 1rem;
}

.grid-col-gap-xxsm {
  grid-column-gap: 1.5rem;
}

.grid-col-gap-xsm {
  grid-column-gap: 2rem;
}

.grid-col-gap-sm {
  grid-column-gap: 2.5rem;
}

.grid-col-gap-md {
  grid-column-gap: 3rem;
}

.grid-col-gap-lg {
  grid-column-gap: 3.5rem;
}

.grid-col-gap-xlg {
  grid-column-gap: 4rem;
}

.grid-col-gap-xxlg {
  grid-column-gap: 4.5rem;
}

.grid-col-gap-xxxlg {
  grid-column-gap: 5rem;
}

.grid-col-gap-none {
  grid-column-gap: 0;
}

.grid-col-gap-auto {
  grid-column-gap: auto;
}

.grid-row-gap-xxxsm {
  grid-row-gap: 1rem;
}

.grid-row-gap-xxsm {
  grid-row-gap: 1.5rem;
}

.grid-row-gap-xsm {
  grid-row-gap: 2rem;
}

.grid-row-gap-sm {
  grid-row-gap: 2.5rem;
}

.grid-row-gap-md {
  grid-row-gap: 3rem;
}

.grid-row-gap-lg {
  grid-row-gap: 3.5rem;
}

.grid-row-gap-xlg {
  grid-row-gap: 4rem;
}

.grid-row-gap-xxlg {
  grid-row-gap: 4.5rem;
}

.grid-row-gap-xxxlg {
  grid-row-gap: 5rem;
}

.grid-row-gap-none {
  grid-row-gap: 0;
}

.grid-row-gap-auto {
  grid-row-gap: auto;
}

/*::flex*/
.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.flex.row-responsive {
  flex-direction: row;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.space-around {
  justify-content: space-around;
}

.flex.end {
  justify-content: flex-end;
}

.flex.start {
  justify-content: flex-start;
}

.flex.center {
  justify-content: center;
}

/*::Shadows shadow-**/
.shadow-normal {
  box-shadow: 13px 11px 59px rgba(0, 0, 0, 0.15);
}

.shadow-light {
  box-shadow: 0px 4px 41px rgba(175, 175, 175, 0.25);
}

.shadow-dark {
  box-shadow: 13px 11px 59px rgba(0, 0, 0, 0.38);
}

.shadow-darker {
  box-shadow: 13px 11px 59px rgba(0, 0, 0, 0.48);
}

/*Positioning*/
.fixed {
  position: fixed !important;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.hide {
  display: none;
}

/*loader CSS*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
.invisible {
  visibility: hidden;
}

/*# sourceMappingURL=styles.css.map */
