$shadows: (
        normal: 13px 11px 59px rgba(0, 0, 0, 0.15),
        light: 0px 4px 41px rgba(169, 69, 255, 0.75),
        lighter: 4px 3px 18px rgba(169, 69, 255, 0.19),
        dark: 0 15px 35px 0 rgba(42,51,83,.12),
        darker: 13px 11px 59px rgba(0, 0, 0, 0.48),
        flat: 0px 4px 4px rgba(0, 0, 0, 0.25)
);
