@mixin flex-index-for-screen($screen){
  /*::flex*/
  .#{$screen}flex{
    display: flex!important;
  }

  #{$screen}column{
    flex-direction: column!important;
  }

  .#{$screen}row{
    flex-direction: row!important;
  }

  .#{$screen}row-responsive{
    flex-direction: row!important;
  }
}


@include flex-index-for-screen('');

@media only screen and (max-width: 599px) {
  @include flex-index-for-screen('sm-');
}
//md-css-property
@media only screen and (min-width: 600px) and (max-width: 899px){
  @include flex-index-for-screen('md-');
}

//lg-css-property
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  /*tablet-landscape-only*/
  @include flex-index-for-screen('lg-');
}
//xlg-css-property
@media only screen and (min-width: 1200px) and (max-width: 1400px){
  /*.desktop-only */
  @include flex-index-for-screen('xlg-');
}
//xxlg-css-property
@media only screen and (min-width: 1401px) {
  /*.desktop-up */
  @include flex-index-for-screen('xxlg-');
}

